# Heroes of Pymoli 
### Andrew Anastasiades | @andrew-ana

In [2]:
## DEPENDENCIES
import pandas as pd #File IO and Data Manipulation
import os #OS agnostic file structure

In [3]:
## FILE PATHS
purchase_filename = os.path.join("Resources", "purchase_data.csv")

In [8]:
## INITIALIZE DATAFRAME FROM FILE
raw_df = pd.read_csv(purchase_filename)
df = raw_df.copy() #I will work with a copy so I can compare changes to original df

In [187]:
## INSPECT DATA
#df.describe()
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"[18, 22)"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"[38, 42)"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"[22, 26)"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"[22, 26)"
4,4,Iskosia90,23,Male,131,Fury,1.44,"[22, 26)"
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,"[22, 26)"
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,"[34, 38)"
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,"[18, 22)"
8,8,Undjask33,22,Male,21,Souleater,1.10,"[22, 26)"
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,"[34, 38)"

In [43]:
## PLAYER ANALYSIS
num_players = df['SN'].nunique() #Unique SN

In [50]:
## PURCHASING ANALYSIS (TOTAL)
num_items = df['Item ID'].nunique() #Unique SN
avg_price = df['Price'].mean()
num_purchases = len(df) #Each row is a purchase
rev_total = df['Price'].sum()

In [95]:
## GENDER DEMOGRAPHICS
gender_group = df.groupby(by=['Gender']) #Group By Gender
gender_num = gender_group['SN'].nunique() #Shows Male, Female and Other
gender_percent = gender_num/num_players #Divide by Unique Players

In [114]:
## PURCHASING ANALYSIS (GENDER)
gender_purchases = gender_group['SN'].count() #count each row in each group
gender_average_price = gender_group['Price'].mean() #Average
gender_revenue_total = gender_group['Price'].sum() #Subtotal
gender_player_LTV = gender_revenue_total / gender_num #LTV = group rev / group size

In [174]:
## AGE DEMOGRAPHICS
#First Prepare the Bins and Group
age_bin_max = round((max(df['Age'])-10) / 4)+1#MATH = How many bins will need? 
age_bins = [0,10] + [10+i*4 for i in range(1,age_bin_max)] #Make my bins
df['Age Group'] = pd.cut(df['Age'], age_bins, right=False) #Add 'Age Group' Column
age_groups = df.groupby(['Age Group']) #Groupby 'Age Group'
#Analyze
age_num = age_groups['SN'].nunique() #How many people in each group?
age_purchases = age_groups['SN'].count() # How many purchases
age_average_price = age_groups['Price'].mean() #Average purchase price
age_revenue_total = age_groups['Price'].sum() #Sum of Prices
age_player_LTV = age_revenue_total / age_num #LTV = group rev / group size

In [199]:
## TOP SPENDERS
player_group = df.groupby('SN')#Want unique players
top_spenders = pd.DataFrame()#I'm going to make a DataFrame to house my statistics
top_spenders['Total Purchases'] = player_group['Price'].sum()
top_spenders['Purchase Count'] = player_group['Price'].count()
top_spenders['Average Purchase Price'] = top_spenders['Total Purchases'] / top_spenders['Purchase Count']
top_spenders = top_spenders.sort_values('Total Purchases', ascending=False) # Sort by 'Total Purchases'
top_5_spenders = top_spenders.iloc[0:5,:] # Just get the top 5

In [227]:
## MOST POPULAR ITEMS
item_group = df.groupby(['Item Name','Item ID']) #Want Unique Items
pop_items = pd.DataFrame()#I'm going to make a DataFrame to house my statistics
pop_items['Purchase Count'] = item_group['Price'].count()
pop_items['Total Purchase Value'] = item_group['Price'].sum()
pop_items['Average Price'] = item_group['Price'].mean() #some items have multiple prices
pop_items = pop_items.sort_values('Purchase Count', ascending=False) #Sort by 'Purchase Count'
most_popular_items = pop_items.iloc[0:5,:] #Just get top 5

In [228]:
## MOST PROFITABLE ITEMS
prof_items = pop_items.sort_values('Total Purchase Value', ascending=False) # It's the same data as pop items
most_profitable_items = prof_items.iloc[0:5,:] #Just get top 5

In [229]:
## HIGHLIGHTED STATISTICS
#Total
num_players
num_items
avg_price
num_purchases
rev_total
#Gender
gender_num
gender_percent
gender_purchases
gender_average_price
gender_revenue_total
gender_player_LTV
#Age
age_num
age_purchases
age_average_price
age_revenue_total
age_player_LTV
#Players
top_5_spenders
#Items
most_popular_items
most_profitable_items

,,Purchase Count,Total Purchase Value,Average Price
Item Name,Item ID,,,
Final Critic,92,13,59.99,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",178,12,50.76,4.230000
Nirvana,82,9,44.10,4.900000
Fiery Glass Crusader,145,9,41.22,4.580000
Singed Scalpel,103,8,34.80,4.350000

In [230]:
df['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Fiery Glass Crusader                             9
                                                ..
Betrayer                                         1
Ghost Reaver, Longsword of Magic                 1
Endbringer                                       1
Alpha, Reach of Ending Hope                      1
Riddle, Tribute of Ended Dreams                  1
Name: Item Name, Length: 179, dtype: int64

In [231]:
most_popular_items

,,Purchase Count,Total Purchase Value,Average Price
Item Name,Item ID,,,
Final Critic,92,13,59.99,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",178,12,50.76,4.230000
Persuasion,132,9,28.99,3.221111
Nirvana,82,9,44.10,4.900000
"Extraction, Quickblade Of Trembling Hands",108,9,31.77,3.530000

In [226]:
df[df['Item Name']=='Final Critic']

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"[22, 26)"
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19,"[22, 26)"
252,252,Tyaelo67,39,Male,92,Final Critic,4.88,"[38, 42)"
273,273,Phyali88,15,Female,92,Final Critic,4.88,"[14, 18)"
277,277,Ennalmol65,24,Male,92,Final Critic,4.88,"[22, 26)"
411,411,Lisico81,10,Male,92,Final Critic,4.19,"[10, 14)"
536,536,Siallylis44,20,Male,92,Final Critic,4.19,"[18, 22)"
712,712,Lisilsa62,25,Male,92,Final Critic,4.88,"[22, 26)"
722,722,Ilarin91,22,Male,92,Final Critic,4.88,"[22, 26)"
767,767,Ilmol66,8,Female,92,Final Critic,4.88,"[0, 10)"
768,768,Assassasta79,38,Male,92,Final Critic,4.88,"[38, 42)"
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,"[10, 14)"
778,778,Sisur91,7,Male,92,Final Critic,4.19,"[0, 10)"

In [232]:
most_profitable_items

,,Purchase Count,Total Purchase Value,Average Price
Item Name,Item ID,,,
Final Critic,92,13,59.99,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",178,12,50.76,4.230000
Nirvana,82,9,44.10,4.900000
Fiery Glass Crusader,145,9,41.22,4.580000
Singed Scalpel,103,8,34.80,4.350000